.tweet {
  color: #545149;
  padding: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  transition: box-shadow .3s;
  border: 3px solid #4f4f4f;
  float: left;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 24px;
}

.avatar-username {
  display: flex;
  align-items: center;
}

.avatar-image {
  margin-right: 0.5em;
  margin-left: 0.35em;

}

.username {
  font-weight: bold;
  color: #f7c2f9;
  margin-right: 0.35em;
}

.tweet-text {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0.5em;
  margin-left: 0.35em;
  padding-bottom: 0em;
  border: 0;
  border-bottom: 3px solid #4f4f4f; 
}

.footer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
  font-weight: lighter;
}

.footer > p {
  margin-left: 0.75em;
}

.icons {
  margin-right: 1em;
  color: #4056A1;
  transition: .3s; 
}

article.tweet:hover {
  box-shadow: 0 0 11px #f7c2f9;
}

.footer > .icons > #icon-1:hover {
  color: red;
}

.footer > .icons > #icon-2:hover {
  color: red;
}

.footer > .icons > #icon-3:hover {
  color: red;
}
